{
  "source": {
    "directories": [
      "./src"
    ],
    "excludes": [
      "./vendor/"
    ]
  },
  "phpUnit": {
    "configDir": ".\/tests\/",
    "customPath": ".\/bin\/phpunit"
  },
  "logs": {
    "text": ".\/infection-report"
  },
  "mutators": {
      "@default": true,
       "IncrementInteger": {
          "ignore": [
              "Tleckie\\Assets\\Versioned\\JsonManifestVersioned::__construct"
          ]
      }
  },
  "testFramework":"phpunit",
  "bootstrap": "./vendor/autoload.php"
}